.status-panel{
	display: block;
	position: relative;
	width: 100%;
	padding-top: 36px;
}

.status-panel h1{
	text-align: center;
}

.status-panel .main{
	display: block;
	position: relative;
	width: calc(100% * (10 /12) );
	margin: auto;
	border: 2px solid black;
	border-radius: 4px;
	min-height: 250px;
	padding: 32px;
}

.status-panel .item{
	display: inline-block;
	position: relative;
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,.4);
	padding: 16px;
	text-align: center;
	margin-right: 32px;
}

.status-panel .item .title{
	margin-bottom: 24px;
	text-transform: uppercase;
	border-bottom: 2px solid #999;
	padding-bottom: 8px;
}

.status-panel .computer-status.off, .status-panel .mobile-status.off{
	width: 200px;
	background-color: rgba(255,0,0,.2);
}

.status-panel .computer-status.on, .status-panel .mobile-status.on{
	width: 200px;
	background-color: rgba(0,255,0,.2);
	box-shadow: 0px 0px 4px 4px rgba(0,255,255,.4);
}


.computer-status .message, .mobile-status .message{
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}